alembic==1.13.1
APScheduler==3.10.4
cryptography==42.0.4
fastapi==0.111.1
fastapi-pagination==0.12.21
grpclib==0.4.7
jdatetime==4.1.1
Jinja2==3.1.4
passlib==1.7.4
protobuf==4.25.4
pydantic==2.7.1
PyMySQL==1.1.1
pyOpenSSL==24.0.0
pyTelegramBotAPI==4.15.2
python-decouple==3.8
python-dotenv==1.0.0
requests==2.32.2
SQLAlchemy==2.0.25
typer==0.12.3
websockets==12.0
PyYAML==6.0.1
aiohttp==3.10.2
xxhash==3.4.1
grpcio==1.65.4
psycopg==3.1.18
v2share==0.1.0b18
PyJWT~=2.8.0