name: Package

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-docker-image:
    runs-on: ubuntu-latest
    env: 
      VITE_BASE_API: /api/
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - uses: pnpm/action-setup@v3
        name: Install pnpm
        with:
          version: 8
          run_install: false
      
      - name: Install dependencies
        run: pnpm install
        working-directory: ./dashboard/
    
      - name: Build Dashboard
        run: pnpm build -- --outDir dist --base '/dashboard/'
        working-directory: ./dashboard/
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
  
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            dawsh/marzneshin:latest
            dawsh/marzneshin:${{github.ref_name}}
